<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="http://www.newtours.demoaut.com/mercurywelcome.php"></parameter>
  <parameter name="seconds" value="5"></parameter>
  <test thread-count="5" name="Test">
 
  <parameter name="username" value="jaydeep1"></parameter>
  <parameter name="password" value="password1"></parameter>
  
 <classes>
    <class name="com.Module.Launch">      
      <methods>
      <include name="executeLaunch"></include>
      </methods>
     </class>
     
      <class name="com.Module.Login">
      <methods>
      <include name="executeLogin"></include>
      </methods>
      </class>
      
    </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
